<html>
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<title>Upload Form</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<style>
  /* Styles to make the div scrollable after a certain height */
  #messages {
      max-height: 400px; /* Set the maximum height */
      overflow-y: auto; /* Enable vertical scrolling */
      padding: 10px; /* Optional: Add padding for better readability */
      width: auto; /* Set the width of the div */
  }
  /* Styles for the collapsible div */
  .collapsible {
      border: 1px solid #ccc; /* Optional: Add a border for visual clarity */
      width: auto; /* Set the width of the div */
      margin-bottom: 10px; /* Add some space below the collapsible section */
  }

  /* Styles for the header */
  .header {
      background-color: #f1f1f1; /* Optional: Add background color to the header */
      padding: 10px; /* Add padding for better readability */
      cursor: pointer; /* Change cursor to pointer when hovering over the header */
  }

  /* Styles for the content */
  .content {
      max-height: 300px; /* Set the maximum height */
      overflow-y: auto; /* Enable vertical scrolling */
      padding: 10px; /* Optional: Add padding for better readability */
      display: none; /* Initially hide the content */
  }


</style>
<script>
  function connectWebSocket() {
    var loc = window.location;
    var wsStart = loc.protocol === "https:" ? "wss://" : "ws://";
    var wsUrl = wsStart + loc.host + "/update";

    var ws = new WebSocket(wsUrl);
    submission_divs = {}
    reconnectInterval = 3000;
    ws.onopen = function() {
        console.log("WebSocket is open now.");
        reconnectInterval = 3000;
    };

    ws.onmessage = function(event) {
        var messagesDiv = document.getElementById("messages");
        var noneMsgP = document.getElementById("none-msg");
        noneMsgP.style.display = "none"
        json_msgs = JSON.parse(event.data)["messages"];
        console.log(json_msgs)
        Object.entries(json_msgs).forEach(([submission_key, messages], index) => {
          if (!(submission_key in submission_divs)){
            var newMessage = document.createElement("div");
            newMessage.id = submission_key
            var newMessageHeader = document.createElement("div");
            var newMessageContent = document.createElement("div");
            newMessageContent.id = "msg-" + submission_key
            newMessageHeader.id = "header-" + submission_key
            var toggleSign =  document.createElement("span");
            var submissionHeader =  document.createElement("span");
            submissionHeader.innerHTML = " Submission Progress: Submission #" + (index+1)
            submissionHeader.id = "sub-header-" + submission_key
            newMessage.className = "collapsible"
            newMessageHeader.className = "header"
            toggleSign.innerHTML = '<i class="fas fa-minus-circle"></i>';
          
            newMessageHeader.appendChild(toggleSign)
            newMessageHeader.appendChild(submissionHeader)
            newMessageContent.className = "content"
            newMessageContent.style.display = "block"
            newMessage.appendChild(newMessageHeader)
            newMessage.appendChild(newMessageContent)
            messagesDiv.appendChild(newMessage);
            submission_divs[submission_key] = newMessage
            const li = document.createElement('li');
            li.textContent = "Download Code: " + submission_key;
            newMessageContent.appendChild(li);
            for (const m of messages) {
              const li = document.createElement('li');
              li.textContent = m;
              newMessageContent.appendChild(li);
            }
            // Toggle the visibility of the scrollable content
            newMessageHeader.addEventListener('click', () => {
              if (newMessageContent.style.display == 'none') {
                newMessageContent.style.display = 'block';
                toggleSign.innerHTML = '<i class="fas fa-minus-circle"></i>';
              } else {
                newMessageContent.style.display = 'none';
                toggleSign.innerHTML = '<i class="fas fa-plus-circle"></i>';
              }
            });
          } else {
            var newMessageContent = document.getElementById("msg-" + submission_key);
            var items = newMessageContent.getElementsByTagName("li");
            var msgs = []
            for (var i = 0; i < items.length; ++i) {
                msgs.push(items[i].textContent)
            }
            for (const m of messages) {
              if(!(msgs.includes(m))){
                const li = document.createElement('li');
                li.textContent = m;
                newMessageContent.appendChild(li);
              }
            }
            if(messages.includes("Results available for download")){
              var header = document.getElementById("header-" + submission_key)
              header.style.backgroundColor = '#7BAE37';
              var subheader = document.getElementById("sub-header-" + submission_key)
              subheader.innerHTML = " Submission Progress: Submission #" + (index+1) + "</br>Download Code: " + submission_key;
            }
          }
          
          messagesDiv.scrollTop = messagesDiv.scrollHeight;
          console.log("WebSocket:" + json_msgs["messages"]);
          
        });
    };

    ws.onclose = function() {
        console.log("WebSocket is closed now.");
        setTimeout(connectWebSocket, 3000);
    };

    ws.onerror = function(error) {
        console.error('WebSocket error:', error);
        // Close the socket to trigger reconnection logic
        ws.close();
    };
  };
  connectWebSocket()



</script>
</head>
<body>
    <section class="container">
        <div class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Cloudbank Otter Grading - Beta
                    </h1>
                    <h2 class="subtitle">
                          Upload your notebooks, grade them, and download results.
                    </h2>
                </div>
            </div>
        </div>
        <br/>
        <div class="columns is-multiline">
            <div class="column is-10 is-offset-1 register">
                <div class="columns">
                    <div class="column left">
                        <p class="title is-3">Grade</p>
                        <p class="subtitle colored is-4">Upload autograder.zip and notebooks</p>
                        <form enctype="multipart/form-data" action="/upload" method="post">
                            {% module xsrf_form_html() %}
                            <div class="file is-small is-dark has-name">
                                <label class="file-label">
                                  <input class="file-input" type="file" name="autograder">
                                  <span class="file-cta">
                                    <span class="file-icon">
                                      <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                      Autograder Zip File
                                    </span>
                                  </span>
                                  <span class="file-name">
                                    Choose File ...
                                  </span>
                                </label>
                              </div>
                              <br/>
                              <div class="file is-small is-dark has-name">
                                <label class="file-label">
                                  <input class="file-input" type="file" name="notebooks" value="">
                                  <span class="file-cta">
                                    <span class="file-icon">
                                      <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Notebook(s) (ipynb or zip)
                                    </span>
                                  </span>
                                  <span class="file-name">
                                    Choose File ...
                                  </span>
                                </label>
                              </div>
                              <br/>
                            <button class="button is-block is-info is-fullwidth is-medium">Grade Notebooks</button>
                            {% if 'message' in globals().keys() and message is not None %}
                            <small><em>{{ message }}</em></small>
                            {% end %}
                        </form>
                    </div>
                    <div class="column right">
                        <p class="title is-3">Results</p>
                        <p class="subtitle colored is-4">Check Status and Download</p>
                        <form enctype="multipart/form-data" action="/download" method="post">
                            {% module xsrf_form_html() %}
                            <div class="field">
                                <div class="control">
                                  <input class="input is-medium" type="text" name="download" value="{{ dcode if 'dcode' in globals().keys() else '' }}" placeholder="Download Code">
                                </div>
                              </div>
                            <button class="button is-block is-info is-fullwidth is-medium">Download/Check Status</button>
                            {% if 'download_message' in globals().keys() and download_message is not None %}
                            <small><em>{{ download_message }}</em></small>
                            {% end %}
                        </form>
                    </div>
                </div>
                <div id="messages">
                  <p class="title is-3">Notebook Grading Progress</p>
                  <p id="none-msg">No submissions are being graded</p>
                </div>
            </div>
        </div>
        <div class="hero is-info welcome is-small">
          <div class="hero-body">
              <div class="container">
                  <span class="has-text-right is-pulled-right">email: sean.smorris@berkeley.edu</span>
              </div>
          </div>
      </div>
    </section>
</body>
<script>
    // Got from this gist:https://gist.github.com/micti/bca582bc4054ca7b034faea56930221c
    document.addEventListener('DOMContentLoaded', () => {
  // 1. Display file name when select file
  let fileInputs = document.querySelectorAll('.file.has-name')
  for (let fileInput of fileInputs) {
    let input = fileInput.querySelector('.file-input')
    let name = fileInput.querySelector('.file-name')
    input.addEventListener('change', () => {
      let files = input.files
      if (files.length === 0) {
        name.innerText = 'No file selected'
      } else {
        name.innerText = files[0].name
      }
    })
  }

  // 2. Remove file name when form reset
  let forms = document.getElementsByTagName('form')
  for (let form of forms) {
    form.addEventListener('reset', () => {
      console.log('a')
      let names = form.querySelectorAll('.file-name')
      for (let name of names) {
        name.innerText = 'No file selected'
      }
    })
  }
})
</script>
</html>
